@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TjASc6CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TzBic6CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  src: local('Rubik Italic'), local('Rubik-Italic'), url(https://fonts.gstatic.com/s/rubik/v7/iJWEBXyIfDnIV7nEnX660Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 700;
  src: local('Rubik Bold Italic'), local('Rubik-BoldItalic'), url(https://fonts.gstatic.com/s/rubik/v7/iJWBBXyIfDnIV7nElcWfwWL-7A.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: local('Rubik Light'), local('Rubik-Light'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Fqj2md8WU.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v7/iJWKBXyIfDnIV7nBrXk.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: local('Rubik Medium'), local('Rubik-Medium'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Eyjmmd8WU.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: local('Rubik Bold'), local('Rubik-Bold'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7F6iGmd8WU.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 900;
  src: local('Rubik Black'), local('Rubik-Black'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7FCimmd8WU.ttf) format('truetype');
}
.home-hero {
  align-items: center;
  font-family: 'Roboto', sans-serif !important;
  display: flex;
  height: 60vh;
  justify-content: center;
  text-align: center;
  margin-top: 60px;
  background: linear-gradient(165deg, #02CCBA 0%, #AA7ECD 100%);
}
.home-hero .center-container {
  text-align: center;
  width: 60% !important;
  max-width: 760px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-hero .center-container .ant-select-selection__placeholder {
  font-size: 1rem;
}
.home-hero .center-container .ant-select-selection {
  height: 3rem;
}
.home-hero .center-container .ant-select-selection button {
  height: 3rem;
}
.home-hero .center-container .ant-btn-primary {
  background-color: #54c7d0;
  border-color: #54c7d0;
}
.home-hero .center-container .ant-input {
  height: 3rem;
  font-size: 1rem;
}
.home-hero .counters {
  align-items: center;
  background: transparent !important;
  display: flex !important;
  justify-content: space-between;
  padding: 3rem 0;
}
.home-hero .counters div {
  background: #fff;
  border: 10px solid #d8d8d8;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  justify-content: center;
}
.home-hero .counters div strong {
  color: #02CCBA;
  font-size: 1.5rem;
}
.home-hero .counters div p {
  text-transform: uppercase;
}
.home-hero h1 {
  color: #fff;
  font-size: 4rem;
  margin-bottom: 2rem;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}
.home-hero h5 {
  color: #fff;
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin-bottom: 3rem;
  font-weight: 100;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}
